<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cn.uca">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.cn.uca.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:replace="android:icon, android:theme,android:allowBackup">

        <!-- 6.0以上的调用相机 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cn.uca.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        <!-- 高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="89b9110c5c5aed54d4994691d3ed0d4b" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 更新下载 -->
        <service android:name=".receiver.UpdateService" />

        <activity
            android:name=".ui.view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.planeticket.PlaneTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.hotel.HotleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.TourismActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.RaidersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.LoadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.user.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.InfoSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.register.SettingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.register.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.SendYueKaDetailctivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.YueChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.OrderYueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.BaseHideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".swipeback.SwipeBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.BaseBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.PresetManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.LineChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.SendYueKaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.view.yueka.OtherYueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.RaidersDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.PeripheryTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.DomesticTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.HoneymoonTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.ExitTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.SpotTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.SpotListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.CitySpotListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.yusheng.YuShengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.yusheng.YuShengDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.home.footprint.FootPrintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.footprint.AddFootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.BackImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.AcceptOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.SendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.CustomizTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.ParentingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.SpotDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.CityRaiderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.sign.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.WalletDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.sign.IntegralRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.sign.IntegralExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.BackOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.RaiderCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.BackOrderApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.rongim.ConversationActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.cn.uca"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.rongim.ChatListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.cn.uca"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.rongim.SubConversationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.cn.uca"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".rongimpush.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
        <!-- 第三方的推送 权限 广播 和服务 -->
        <!-- 小米 配置开始 < -->
        <permission
            android:name="com.cn.uca.permission.MIPUSH_RECEIVE"
            android:protectionLevel="signature" />

        <uses-permission android:name="com.cn.uca.permission.MIPUSH_RECEIVE" /> <!-- 小米 配置结束 < -->
        <!-- 小米 配置开始 < -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米 配置结束 < -->

        <activity android:name=".ui.view.home.samecityka.SameCityKaActivity" />
        <activity android:name=".ui.view.yueka.ToBeCollarActivity" />
        <activity
            android:name=".ui.view.home.samecityka.SendActionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.home.samecityka.ActionSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.view.home.samecityka.ActionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.InitiatorInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.CardManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.CardEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.MyTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.MyFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.MyActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.ExamineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.SettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.MapChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.CardChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.EnListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.home.samecityka.SendDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.FillInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.TicketCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.LvPaiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.CommodityDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantCommodityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.MerchantOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.AddMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.DatePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.LvPaiDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.CountyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.util.PreviewPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.LookPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.DateChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.AddTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.PhotoManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.ActionManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.samecityka.TicketManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.view.user.RechargeSettingActivity" />
        <activity
            android:name=".ui.view.user.WalletPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.view.home.lvpai.OrderManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.AccountAssociationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.YueKaOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.LvPaiOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.HotelOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.TravelOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.ActionOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.TicketOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.DepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.message.OrderMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.message.SystemMesaageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.TravelOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.order.SpotTicketOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.ProvinceRaiderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.RouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.view.rongim.ChatSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.lvpai.AllCommodityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.TravelTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.MoreTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.TravelDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.travel.ReserveTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.YueKaYueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.YueKaCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.YuekaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.yueka.YuekaCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.raider.RaiderCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.home.translate.TranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.user.CouponActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.view.TestActivity"></activity>
    </application>

</manifest>